<div class="activities">
  
  <h1 class="gapS text-center">Activities</h1>

  <p class="gapL text-center">
    Here you can find all the latest activities regarding instances.<br />
    You can also check the log of an activity by clicking it.
  </p>

  <div class="activity-search">
    <input
      [formControl]="searchFormControl"
      placeholder="Search by activity or user name"
      (input)="filter()"
      type="search"
    />

    <select [formControl]="stateFormControl" (change)="filter()">
      <option [value]="''">All states</option>
      <option [value]="'FINISHED'">Success</option>
      <option [value]="'ERROR'">Error</option>
      <option [value]="'RUNNING'">Processing</option>
    </select>

    <select [formControl]="typeFormControl" (change)="filter()">
      <option [value]="''">All types</option>
      <option [value]="'INSTALL_INSTANCE'">Install instance</option>
      <option [value]="'DELETE_INSTANCE'">Delete instance</option>
      <option [value]="'START_INSTANCE'">Start instance</option>
      <option [value]="'STOP_INSTANCE'">Stop instance</option>
      <option [value]="'RESTART_INSTANCE'">Restart instance</option>
    </select>
  </div>

  <p *ngIf="!filteredActivityList.length" class="text-center">No activities found</p>

  <mat-accordion *ngIf="!!filteredActivityList.length" class="activity-list">
    <mat-expansion-panel (opened)="getLogsOfActivity(activity.id)"
                         (destroyed)="unsubscribeFromLogs(); clearLogs()"
                         #mep="matExpansionPanel"
                         class="activity-item"
                         *ngFor="let activity of filteredActivityList"
                         [expanded]="activity.id == focussedActivityID"
                         hideToggle
    >
      <mat-expansion-panel-header class="activity-item-header">
        <div class="activity-item-header-inner">
          <div class="activity-state" [ngSwitch]="activity.state">
            <app-check-icon class="state-icon green" *ngSwitchCase="'FINISHED'"></app-check-icon>
            <app-cross-icon class="state-icon red" *ngSwitchCase="'ERROR'"></app-cross-icon>
            <img class="state-icon" *ngSwitchDefault [src]="activityStates.ongoing" alt="state">
          </div>

          <div class="activity-icon" [ngSwitch]="activity.type">
            <app-install-icon class="icon" *ngSwitchCase="'INSTALL_INSTANCE'"></app-install-icon>
            <app-delete-icon class="icon" *ngSwitchCase="'DELETE_INSTANCE'"></app-delete-icon>
            <app-pulse-icon class="icon" *ngSwitchCase="'START_INSTANCE'"></app-pulse-icon>
            <app-stop-icon class="icon" *ngSwitchCase="'STOP_INSTANCE'"></app-stop-icon>
            <app-restart-icon class="icon" *ngSwitchCase="'RESTART_INSTANCE'"></app-restart-icon>
          </div>

          <div class="activity-text">
            <span class="activity-title">{{activity.name}}</span>

            <div class="activity-timestamps">
              <span class="activity-start-date">Start: {{activity.start_time}}</span>
              <span class="activity-end-date" *ngIf="!!activity.finished_time && activity.finished_time !== 'None'">End: {{activity.finished_time}}</span>
              <span *ngIf="isAdmin && !!activity.user.id" class="activity-user">User: {{getNameOfUser(activity)}}</span>
            </div>
          </div>
        </div>

        <app-arrow-down-icon class="arrow" [width]="16" [height]="16"></app-arrow-down-icon>
        <app-arrow-up-icon class="arrow active" [width]="16" [height]="16"></app-arrow-up-icon>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="logs" #scrollContainer [scrollTop]="scrollContainer.scrollHeight">
          <div class="log-entry" *ngFor="let item of activityLogs">
            <span> [{{item.timestamp}}] </span>
            <span *ngIf="item.type === LOG_TYPES.INFO" class="log__info">[{{item.type}}]</span>
            <span *ngIf="item.type === LOG_TYPES.WARNING" class="log__warn">[{{item.type}}]</span>
            <span *ngIf="item.type === LOG_TYPES.ERROR" class="log__error">[{{item.type}}]</span>
            <span> {{item.message}} </span>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
