<mat-accordion class="activity-list">
  <mat-expansion-panel (opened)="getLogsOfActivity(activity.id)"
                       (closed)="0"
                       #mep="matExpansionPanel"
                       class="activity-item"
                       *ngFor="let activity of activityList.reverse() | slice:0:50"
                       [expanded]="activity.id == focussedActivityID"
  >
    <mat-expansion-panel-header class="activity-item-header">
      <span class="activity-state" [ngSwitch]="activity.state">
        <img *ngSwitchCase="'FINISHED'" [src]="activityStates.finished" alt="state">
        <img *ngSwitchCase="'ERROR'" [src]="activityStates.error" alt="state">
        <img *ngSwitchDefault [src]="activityStates.ongoing" alt="state">
      </span>
      <span class="activity-icon">
        <svg viewBox="0 0 1000 1000" [ngSwitch]="activity.type">
          <path *ngSwitchCase="'INSTALL_INSTANCE'" [attr.d]="svgPaths.install"></path>
          <path *ngSwitchCase="'DELETE_INSTANCE'" [attr.d]="svgPaths.delete"></path>
          <path *ngSwitchCase="'START_INSTANCE'" [attr.d]="svgPaths.start"></path>
          <path *ngSwitchCase="'STOP_INSTANCE'" [attr.d]="svgPaths.stop"></path>
          <path *ngSwitchCase="'RESTART_INSTANCE'" [attr.d]="svgPaths.restart"></path>
        </svg>
      </span>
      <div>
        <span class="activity-title">
          {{activity.name}}
        </span> <br>
        <span class="activity-start-date">
          started: {{activity.start_time}}
        </span>
        <span class="activity-end-date" *ngIf="activity.finished_time !== 'None'">
          finished: {{activity.finished_time}}
        </span>
      </div>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="activity-item-log-container">
        <div class="container-log-entry" *ngFor="let item of activityLogs">
          [{{item.timestamp}}] [{{item.type}}] {{item.message}}
        </div>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
