@import "src/styles-variables";

.activities {
  .activity-list {
    .activity-item {
      .activity-item-header {
        .activity-item-header-inner {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;

          .activity-state {
            flex-grow: 0;
            flex-shrink: 0;
  
            .state-icon {
              float: left;
              width: 24px;
              height: 24px;
              margin-right: 10px;
              fill: $custom_gray_darkest;
  
              ::ng-deep svg {
                width: 24px;
                height: 24px;
              }
  
              &.green {
                fill: $custom_color_info;
              }
              &.red {
                fill: $custom_color_error;
              }
            }
          }
          .activity-icon {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 15px;
  
            .icon {
              float: left;
              width: 24px;
              height: 24px;
  
              ::ng-deep svg {
                width: 24px;
                height: 24px;
              }
            }
          }
          .activity-text {
            display: flex;
            flex-flow: column nowrap;
  
            .activity-title {
              color: $custom_blue;
            }
            .activity-timestamps {
              display: flex;
              flex-flow: row wrap;
              column-gap: 15px;
  
              .activity-start-date, .activity-end-date {
                font-size: 10pt;
                color: $custom_gray_darkest;
              }
            }
          }
        }
      }
    }
  }
}

.log__info {
  color: $custom_color_info;
}
.log__warn {
  color: $custom_color_warn;
}
.log__error {
  color: $custom_color_error;
}
