<td>
  <div [ngClass]="['instance-list-item__status', instance.state.toLowerCase()]">
    <span></span>
  </div>

  <div class="instance-list-item_header">
    <div class="instance-list-item__header-image">
      <img src="https://raw.githubusercontent.com/bibbox/{{instance.app.name}}/master/icon.png" alt="404">
    </div>

    <div class="instance-list-item__header-titles">
      <p class="instance-list-item__header-title">{{instance.displayname_short}}</p>
      <p class="instance-list-item__header-subtitle gapZ fontXXS">{{instance.displayname_long}}</p>
    </div>
  </div>
</td>

<td>
  <div class="instance-list-item__description">
    <p class="text gapZ">
      {{description}}<span *ngIf="shortenDescription && !showFullDescription">...</span>
      <span class="arrow-wrapper" *ngIf="shortenDescription && !showFullDescription" (click)="toggleShowFully($event)">
        <app-arrow-down-icon class="arrow" [width]="12" [height]="12"></app-arrow-down-icon>
      </span>
      <span class="arrow-wrapper" *ngIf="shortenDescription && showFullDescription" (click)="toggleShowFully($event)">
        <app-arrow-up-icon class="arrow" [width]="12" [height]="12"></app-arrow-up-icon>
      </span>
    </p>
  </div>
</td>

<td class="text-center">
  <p [ngClass]="['instance-list-item__state', 'fontMS', 'gapZ', instance.state.toLowerCase()]">{{instance.state.toLowerCase()}}</p>
</td>

<td class="text-center">
  <div class="instance-list-item__links">
    <a class="button" href="{{installGuideUrl}}" target="_blank" title="Install guide"><app-guide-icon class="link-icon" [width]="18" [height]="18"></app-guide-icon></a>
    <a class="button" href="/" target="_blank" title="Documentation"><app-docs-icon class="link-icon" [width]="18" [height]="18"></app-docs-icon></a>
    <a class="button" href="{{repositoryUrl}}" target="_blank" title="Repository"><app-github-icon class="link-icon" [width]="18" [height]="18"></app-github-icon></a>
  </div>
</td>

<td class="text-center">
  <div class="instance-list-item__actions">
    <a class="button" [routerLink]="['/instances/', instance.instancename]" [state]="{index: 0}" title="Details">
      <app-list-icon class="button-icon" [width]="16" [height]="16"></app-list-icon>Details
    </a>

    <a class="button" [routerLink]="['/instances/', instance.instancename]" [state]="{index: 1}" title="Logs">
      <app-cli-icon class="button-icon" [width]="16" [height]="16"></app-cli-icon>Logs
    </a>

    <div>
      <a *ngIf="instance.state === 'RUNNING'" class="button" href="{{instanceUrl}}" target="_blank" title="Launch">
        <app-launch-icon class="button-icon" [width]="16" [height]="16"></app-launch-icon>Launch
      </a>
      <a *ngIf="instance.state === 'ERROR'" class="button" [routerLink]="['/instances/', instance.instancename]" [state]="{index: 1}" title="Error">
        <app-error-icon class="button-icon" [width]="18" [height]="18"></app-error-icon>Error
      </a>
      <a *ngIf="instance.state === 'STOPPED'" class="button" [routerLink]="" (click)="manageInstance('start')" title="Start">
        <app-pulse-icon class="button-icon" [width]="18" [height]="18"></app-pulse-icon>Start
      </a>

      <div class="toggle" (click)="toggle()">
        <app-arrow-down-icon *ngIf="!isOpen" class="arrow"></app-arrow-down-icon>
        <app-arrow-up-icon *ngIf="isOpen" class="arrow"></app-arrow-up-icon>
      </div>

      <div *ngIf="isOpen" class="submenu">
        <ul>
          <li *ngIf="instance.state !== 'STOPPED'" (click)="manageInstance('stop')">
            <app-stop-icon class="action-icon" [width]="16" [height]="16"></app-stop-icon>Stop
          </li>
          <li *ngIf="instance.state !== 'STOPPED'" (click)="manageInstance('restart')">
            <app-restart-icon class="action-icon" [width]="16" [height]="16"></app-restart-icon>Restart
          </li>
          <li *ngIf="instance.state === 'STOPPED'" (click)="deleteInstance()">
            <app-delete-icon class="action-icon" [width]="16" [height]="16"></app-delete-icon>Uninstall
          </li>
        </ul>
      </div>
    </div>
  </div>
</td>