#content {
  position: relative;
  flex-grow: 1;
  align-self: center;
  align-content: center;
  width: calc(100% - 60px);
  max-width: 1200px;
  min-height: 100vh;
  padding-top: 130px;
  padding-bottom: 100px;
  margin: 0 auto;
  z-index: 1;
}

:host-context(.layout-width-full) {
  #content {
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

:host-context(.layout-width-wide) {
  #content {
    max-width: 1600px;
  }
}
