#header {
  flex-grow: 0;
  margin-bottom: 50px;
  max-width: 100%;
  display: block;
}

#content {
  flex-grow: 1;
  align-self: center;
  align-content: center;
  width: 80vw;
  padding-bottom: 100px;
}

#footer {
  flex-grow: 0;
}
