//@import "src/styles.css";

.instances {
  display: flex;
  flex-direction: column;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.application-search {
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-self: center;
  padding-bottom: 20px;
}


.instances_results {
  display: flex;
  width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}


