<div class="instances">
  <div class="instances-search">
    <div class="input-group">
      <input
        [formControl]="filterFormControl"
        placeholder="Search for instances"
        (input)="filterInstances(this.filterFormControl.value)"
        class="form-control py-2 border-right-0 border"
        type="search"
      />
      <span class="input-group-append">
        <span class="input-group-text bg-white">
          <i class="fas fa-search"></i>
        </span>
      </span>

    </div>

    <mat-slide-toggle
      class="instances-search__slide-toggle"
      [checked]="false"
      [disabled]="false"
      [color]="slideThemePalette"
      (change)="filterOnlyOwnInstances()"
    >
      Only show my instances <!-- https://stackoverflow.com/questions/41440998/how-can-i-use-custom-theme-palettes-in-angular -->
    </mat-slide-toggle>

    <br>
  </div>
  <div class="instances_results">
    <app-instance-tile *ngFor="let instance of filteredInstances" [instance]="instance"></app-instance-tile>
  </div>
</div>
