//@import "src/styles.css";

.instances {
  display: flex;
  flex-direction: column;
  .application-search {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 220px;
    width: 20vw;
    padding-bottom: 20px;
  }

  .instances_results {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

}







