<div class="instances">
  <div class="application-search">
    <div class="input-group">
      <input
        [formControl]="filterFormControl"
        placeholder="Search for instances"
        (input)="filterInstances(this.filterFormControl.value)"
        class="form-control py-2 border-right-0 border"
        type="search"
      />
      <span class="input-group-append">
        <span class="input-group-text bg-white">
          <i class="fas fa-search"></i>
        </span>
      </span>
    </div>
    <br>
<!--    <div class="application-search__selected-instances"> selected: {{filteredInstances.length}}/{{instanceItems.length}}</div>-->
  </div>
  <div class="instances_results">
   <div *ngFor="let instance of filteredInstances">
     <app-instance-tile [instance]="instance"></app-instance-tile>
   </div>
  </div>
</div>
