<div class="instances">
  <h1 class="gapS text-center">Instances</h1>

  <p class="gapL text-center">
    Here you can find and manage <strong>already installed apps</strong> (instances).<br />
    To install a new app instance, head over to the <a [routerLink]="'/applications'">store</a> page.
  </p>

  <div class="instances-search">
    <div>
      <input
        [formControl]="searchFormControl"
        placeholder="Search by instance or app name"
        (input)="filterInstances()"
        type="search"
      />

      <select [formControl]="statusFormControl" (change)="filterInstances()">
        <option [value]="''">Any status</option>
        <option [value]="'RUNNING'">Running</option>
        <option [value]="'ERROR'">Error</option>
        <option [value]="'STOPPED'">Stopped</option>
      </select>

      <select [formControl]="showOnlyOwnedInstances" (change)="filterInstances()">
        <option [value]="'false'">Installed by anyone</option>
        <option [value]="'true'">Installed by me</option>
      </select>
    </div>

    <div>
      <select [formControl]="showAsList" (change)="updateFiltersInStore()">
        <option [value]="'false'">Show as tiles</option>
        <option [value]="'true'">Show as list</option>
      </select>
    </div>
  </div>

  <p *ngIf="filteredInstanceGroups.length === 0 && filteredInstanceList.length === 0" class="text-center">No instances found.</p>

  <div *ngIf="showAsList.value === 'false' && filteredInstanceGroups.length > 0" class="instances-results">
    <app-instance-group *ngFor="let group of filteredInstanceGroups" [group]="group"></app-instance-group>
  </div>

  <div *ngIf="showAsList.value === 'true' && filteredInstanceList.length > 0" class="table-wrapper">
    <table class="instances_results">
      <thead>
        <tr>
          <th>Instance title and subtitle</th>
          <th>Instance information</th>
          <th class="text-center">Instance status</th>
          <th class="text-center">External links</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <app-instance-list-item *ngFor="let instance of filteredInstanceList" [instance]="instance"></app-instance-list-item>
      </tbody>
    </table>
  </div>
</div>
