.gitignore

conf
application-instance
log
sys-proxy

data/
sys-commander-local-env/
.idea



**/__pycache__
**/.DS_Store

log/system.log
sys-backend/activities
sys-commander/data/postgresql/data/pg_stat_tmp/db_0.stat
sys-commander/backend/mist.py
sys-commander/backend/mist.txt
sys-commander/backend/app/celerytasks/_test-read-app-params.py
