.gitignore

conf
application-instance
log
sys-proxy

data/
sys-commander-local-env/
.idea


**/__pycache__
**/.DS_Store

log/system.log
sys-backend/activities
data/postgresql/data/pg_stat_tmp/db_0.stat
backend/mist.py
backend/mist.txt
backend/app/celerytasks/_test-read-app-params.py


backend/app/templates
backend/logs

CLIFunctions.sh

frontend/node_modules
frontend/.angular/



# ignore all files which get created from templates
apacheproxy/httpd.conf
frontend/src/environments/environment.ts
frontend/src/environments/environment.prod.ts
config-templates/000-default.conf
config-templates/100-error.conf
config-templates/bibbox.config



# dist
frontend/dist


# dev
**/dummy_kc_file.py
**/kc_snipplets.txt


config-templates/000-default.conf
config-templates/005-fdp.conf
config-templates/100-error.conf
frontend/src/environments/environment.prod.ts
frontend/src/environments/environment.ts
apacheproxy/httpd.conf

#Ignore cusomizeable files
frontend/src/assets/landing.html

