<!--<p> imprint works </p>-->
<div class="portlet-body citation" >
  <div class="subscribe-action"></div>
  <div class="citation-centered-block" >
  <div class="h2" align="center">
    <span><strong>Citation</strong></span>
  </div>
  <p>The following article describes in detail the motivation for creating the BIBBOX, the design goals of the framework, and experiments demonstrating the library's capabilities.<br> <strong>If you use BIBBOX in research, please cite this article:</strong></p>
  <p><strong>Müller, Heimo, et al. <a href="https://doi.org/10.1016/j.nbt.2023.06.001">"BIBBOX, a FAIR toolbox and App Store for Life Science Research."</a> New Biotechnology (2023).</strong></p>
  </div>
</div>
