@import "src/styles-variables";

.citation {
  display: flex;

  .citation-centered-block{
    margin: auto;
    margin-right: auto;
    border: 3px solid $custom_gray_dark;
    width: 78em;
    padding: 10px;
  }


}
