#header {
  margin-bottom: 50px;
  max-width: 100%;
  display: block;
}

#content {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 150px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
