version: '3'
services:
  api:
    container_name: flask_socketio_demo
    restart: unless-stopped
    build:
      context: ./flask/
      dockerfile: Dockerfile
    volumes:
      - ./flask:/srv/api
      - /var/run/docker.sock:/var/run/docker.sock
    # when working with uwsgi, comment out environment and command (below)
    environment:
      FLASK_APP: api.py
    command: ["flask", "run", "--host=0.0.0.0"]
    ports:
      - 5000:5000
