@import '../../../styles-variables';
@import "src/styles.scss";


#applications {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;


  #applications-results {
    display: flex;
    flex-flow: column nowrap;
    //padding: 0 10px;
    //border-left: solid 1px #CCC //removed tag-search


  }
}

//.tag-sidenav {
//  display: flex;
//  flex-direction: column;
//
//  .facet-container {
//    display: flex;
//    flex-flow: column;
//  }
//
//  .tags-title {
//    text-align: left;
//    padding: 0 10px;
//    margin-bottom: 15px;
//    font-size: 20px;
//    color: #2d6191
//  }
//
//  .tag-item {
//    margin: 2px;
//    padding: 2px;
//
//    .tag-item-background{
//      background: rgba(100, 150, 180, 0.2);
//      width: 22%;
//    }
//  }
//}

//
//.tag-item {
//  margin: 0 10px;
//}

//
//@media only screen and (max-width: 600px) {
//  #app-filter #tagger {
//    width: 100%;
//    margin-top: 20px;
//  }
//
//  #applications {
//    #tagger {
//      width: 100%
//    }
//
//    .facet-wrapper{
//      width: 100%;
//      padding: 0 10px
//    }
//
//    .facet-title{
//      padding: 0
//    }
//
//    #applications-results{
//      float: left;
//      width: 100%;
//      margin-top: 30px;
//      display: inline-block;
//      border-left: 0;
//      padding: 0
//    }
//  }
//
//  .overlay-content-title{
//    width: 100%
//  }
//
//  .overlay-content-controls{
//    float: left;
//    width: auto;
//    margin-top: 15px
//  }
//
//  .overlay-content-left,
//  .overlay-content-right{
//    float: left;
//    width: 100%
//  }
//
//  .overlay-content-right{
//    margin-top: 25px
//  }
//
//  .overlay-content-left{
//    > span {
//      width: 100%;
//      margin-right: 0
//    }
//  }
//}
