<div id="applications">
  <div class = "tagger">

  </div>
  <div class= "tag-sidenav">
    <div id = "facet-container">
      <div id = "facet-search">
        <!-- MAT CHIPS etc. -->
      </div>
      <ul>
        <li *ngFor="let tag of tagsArray" class="tag-item">
          <mat-checkbox [(ngModel)]="tag.checked" color="primary" (ngModelChange)="doNothing()">
            {{tag.name}}
          </mat-checkbox>
        </li>
      </ul>

    </div>
  </div>
  <div id="applications-results">
    <div *ngFor="let applicationGroup of applicationGroupItems$ | async">
      <app-application-group [applicationGroup]="applicationGroup"></app-application-group>
    </div>
  </div>
</div>
