#applications {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;


  .application-search {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    align-self: center;
    padding-bottom: 20px;
  }


  #applications-results {
    display: flex;
    flex-flow: column wrap;
  }
}
