@import "src/styles-variables";
.instance-tile {
  background: #e9eaee;
  height: 300px;
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  // border: solid $custom_gray_lightaccent 1px;
  border-radius: 10px;


  //-moz-box-shadow:    1px 1px 10px 2px #C7C7C7;
  //-webkit-box-shadow: 1px 1px 10px 2px #C7C7C7;
  box-shadow: 8px 4px 8px $custom_gray_medium+CC, -5px -5px 8px #FFFFFFCC;

  .instance-tile__header {
    height: 60px;
    display: flex;
    flex-direction: row;
    border-bottom: solid #d7dadd 2px;


    .instance-tile__header-image {
      border-right: solid #d7dadd 2px;
      height: 55px;
      width: 55px;
      max-height: 55px;
      max-width: 55px;
      flex-grow: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        display: block;
        max-height: inherit;
        max-width: inherit;
        height: auto;
        width: auto;
        padding: 4px;
      }
    }

    .instance-tile__header-titles {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .instance-tile__header-title {
        flex: 1 1;
        width: 100%;
        text-align: center;
        color: $custom_gray_dark;
        //color: #6496b4;
        padding: 7px 10px;
        margin-bottom: 0;
        font-weight: bold;
      }
      .instance-tile__header-subtitle {
        flex: 1 1;
        width: 100%;
        color: $custom_gray_medium;
        padding: 0 10px 5px 10px;
        margin-bottom: 0;
        text-align: center;
        font-size: 14px;
      }
    }

    .instance-tile__hyperlink {
      width: 55px;
      height: 55px;
      flex-grow: 0;
      border-left: solid #d7dadd 2px;
      display: flex;
      justify-content: center;
      align-items: center;



      .instance-tile__hyperlink-icon, .instance-tile__hyperlink-icon-disabled {
        color: $custom_gray_medium;
      }
      .instance-tile__hyperlink-icon:hover{
        color: $custom_blue;
      }
      .instance-tile__hyperlink-icon-disabled:hover {
        color: $custom_gray_medium;
      }
    }
  }
  .instance-tile__body {
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 20px 20px 20px;
    color: $custom_gray_dark;

  }
  .instance-tile__footer {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: solid #d7dadd 2px;
    width: 100%;

    a {
      display: flex;
      flex: 1 1;
      height: inherit;
      border-right: solid #d7dadd 2px;
      justify-content: center;
      align-items: center;

      .link-icons{
        color: $custom_gray_medium;
        size: inherit;
      }
    }
    a:last-child {
      border-right: none;
    }

    a:hover {
      flex: 1 1;
      height: inherit;
      text-decoration: none;


      .link-icons{
        color: inherit;
      }
    }

    .instance-tile__footer-state{
      flex: 1 1;
      justify-content: center;
      display: flex;
      width: 100%;

      .running {
        color: #00d569;
      }
      .ongoing {
        color: #ffee00;
      }
      .stopped {
        color: #de5700;
      }
    }
  }
}

