@import "src/styles-variables";

app-instance-tile {
  width: calc(25% - 15px);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.instance-tile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;

  * {
    box-sizing: border-box;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    color: $custom_gray_darkest;
  }

  .instance-tile__status {
    flex-grow: 0;
    flex-shrink: 0;
    width: 5px;
    overflow-x: hidden;

    span {
      display: block;
      width: 20px;
      height: 100%;
      background-color: $custom_color_warn;
      border-radius: 10px;
    }

    &.running span {
      background-color: $custom_color_info;
    }
    &.stopped span {
      background-color: $custom_color_warn;
    }
    &.error span {
      background-color: $custom_color_error;
    }
  }

  .instance-tile__inner {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    .instance-tile__header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: 10px;

      .instance-tile__header-image {
        height: 52px;
        width: 52px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 10px;
        
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
          object-position: center;
        }
      }

      .instance-tile__header-titles {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;

        .instance-tile__header-title {
          width: 100%;
          color: $custom_blue;
          font-weight: 500;
          margin-bottom: 3px;
          line-height: 120%;
        }
        .instance-tile__header-subtitle {
          margin-top: 0;
          font-weight: 300;
          font-size: 10pt;
          line-height: 120%;
        }
      }
    }
    .instance-tile__body {
      display: flex;
      flex-flow: row nowrap;
      height: 140px;
      color: $custom_gray_darkest;
      white-space: pre-line;
      border-top: solid 2px $custom_gray_medium;
      border-bottom: solid 2px $custom_gray_medium;
      background-color: $custom_gray_extralight;

      .instance-tile__body-links {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 0;
        flex-shrink: 0;
        width: 40px;
        row-gap: 2px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          flex-grow: 1;
          background-color: $custom_gray_medium;
          transition: background-color 0.2s ease-out;

          .link-icon {
            height: 18px;
            fill: $custom_blue;
            transition: fill 0.2s ease-out;
          }

          &:hover {
            background-color: $custom_blue;

            .link-icon {
              fill: white;
            }
          }
        }
      }
      .instance-tile__body-inner {
        flex-grow: 1;
        height: 100%;
        padding: 10px;
        overflow-x: hidden;
        overflow-y: auto;

        &, * {
          font-size: 10pt !important;
          color: $custom_gray_dark;
          line-height: 120%;
        }
        p {
          margin-bottom: 10px;
        }
      }
    }
    .instance-tile__footer {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 40px;

      > * {
        width: calc((100% - 40px) / 3);
        height: 40px;

        &:last-child {
          width: calc(((100% - 40px) / 3) + 40px);
        }
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        text-decoration: none;
        border-right: solid 2px $custom_gray_medium;
        transition: background-color 0.2s ease-out, color 0.2s ease-out;

        .button-icon {
          display: flex;
          align-items: center;
          height: 18px;
          fill: $custom_blue;
          margin-right: 5px;
          transition: fill 0.2s ease-out;
        }

        &:hover {
          background-color: $custom_blue;
          color: white;

          .button-icon {
            fill: white;
          }
        }
      }
      > div {
        position: relative;
        display: flex;
        flex-flow: row nowrap;

        > a {
          cursor: pointer;
          border-right: none;
          flex-grow: 1;

          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }

        .toggle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          cursor: pointer;
          background-color: white;
          border-bottom-right-radius: 10px;
          border-left: solid 2px $custom_gray_medium;
          transition: background-color 0.2s ease-out;

          .arrow {
            fill: $custom_blue;
            transition: fill 0.2s ease-out;
          }

          &:hover {
            background-color: $custom_blue;

            .arrow {
              fill: white;
            }
          }
        }
        .submenu {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          padding-top: 2px;

          > ul {
            display: flex;
            flex-flow: column nowrap;
            row-gap: 10px;
            width: 100%;
            list-style: none;
            padding: 10px 20px;
            margin: 0;
            border-radius: 5px;
            background-color: white;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

            > li {
              display: flex;
              align-items: center;
              font-size: 11pt;
              transition: opacity 0.2s ease-out;
              line-height: 100%;
              padding-top: 1px;
              cursor: pointer;

              .action-icon {
                display: block;
                height: 16px;
                flex-grow: 0;
                flex-shrink: 0;
                margin-right: 5px;
                margin-top: -1px;
                fill: $custom_blue;
              }

              &:hover {
                opacity: 0.75;
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: $custom_responsive_size_xl) {
  app-instance-tile {
    width: calc(33.3333% - 13.3333px);
  }
}

@media only screen and (max-width: $custom_responsive_size_l) {
  app-instance-tile {
    width: calc(50% - 10px);
  }
}

@media only screen and (max-width: $custom_responsive_size_ms) {
  app-instance-tile {
    width: 100%;
  }
}