<mat-card>
  <mat-card-title>
    {{instance.displayname_short}}
  </mat-card-title>
  <mat-card-subtitle>
    {{ instance.instancename}}
  </mat-card-subtitle>
  <mat-card-content>
    <span>{{instance.description_short}}</span>
    <!--         <img src="{{store}}" alt="404" class="application-icon">-->
    <!--          {{instance.state}}-->
    <!--          <span *ngFor="let entry of instance.proxy">-->
    <!--            <br/> new proxy entry:-->
    <!--            {{entry.DISPLAYNAME}}-->
    <!--            {{entry.TYPE}}-->
    <!--            {{entry.TEMPLATE}}-->
    <!--          </span>-->
  </mat-card-content>
  <mat-card-actions class="mat-card-action-buttons">
    <a [routerLink]="['/instances/', instance.instancename]" [state]="{index: 0}">
      <button matTooltip="Dashboard">
        <span class="fas fa-cog"></span>
      </button>
    </a>
    <a [routerLink]="['/instances/', instance.instancename]" [state]="{index: 1}">
      <button matTooltip="Logs">
        <span class="fas fa-book"></span>
      </button>
    </a>
<!--    <button mat-button matTooltip="Info">-->
<!--      <span class="fas fa-info"></span>-->
<!--    </button>-->
    <a href="{{instanceUrl}}" target="_blank" rel="noopener noreferrer">
      <button matTooltip="Open">
        <span class="fas fa-power-off"></span>
      </button>
    </a>
  </mat-card-actions>
</mat-card>
