.activity-list {
  width: 100%;

  .activity-item {

    background: none;
    box-shadow: none;
    border-bottom: solid 1px #DDD;
    width: 100%;

    .activity-item-header {
      padding: 5px 15px 5px 85px;
      position: relative;
      width: 100%;
      transition: background 0.3s ease-in-out;

      .activity-state {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        float: left;
        width: 20px;
        height: 20px;
        left: 15px;
        img {
          float: left;
          width: 20px;
          height: 20px
        }
      }
      .activity-icon {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        float: left;
        width: 20px;
        height: 20px;
        left: 50px;

        svg {
          float: left;
          width: 20px;
          height: 20px
        }
      }

      .activity-title {
        width: 100%;
        font-size: 16px;
        color: #2d6191
      }

      .activity-start-date, .activity-end-date {
        margin-right: 20px;
        color: #555;
        font-size: 15px
      }
    }
    .activity-item-log-container {
      float: left;
      width: 100%;
      background: white;
      padding: 20px 30px;
      max-height: 500px;
      overflow: auto;
      border-radius: 10px;
      border: solid 1px lightgray;
      margin-bottom: 40px;

      .container-log-entry {
        word-break: break-word;
      }
    }
  }
}
