@import "src/styles-variables";
#instance-details {
  flex-direction: column;
  display: flex;

  .instance-details-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;

    .instance-details-title {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      .icon-wrapper {
        width: 60px;
        height: 60px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }

      .title-wrapper {
        margin-left: 10px;

        p {
          &:first-child {
            font-weight: $custom_font_weight_medium;
          }
        }
      }
    }

    .instance-details-controls {
      display: flex;
      flex-direction: row;
      justify-content: right;
      align-content: flex-end;

      .instance-details-controls__state {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-right: 20px;

        .instance-details-controls__state-indicator {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-right: 5px;
          background-color: $custom_color_warn;
        }
        .instance-details-controls__state-text {
          font-weight: $custom_font_weight_medium;
          text-transform: capitalize;
          color: $custom_color_warn;
        }

        &.running {
          .instance-details-controls__state-indicator {
            background-color: $custom_color_info;
          }
          .instance-details-controls__state-text {
            color: $custom_color_info;
          }
        }
        &.stopped {
          .instance-details-controls__state-indicator {
            background-color: $custom_color_warn;
          }
          .instance-details-controls__state-text {
            color: $custom_color_warn;
          }
        }
        &.error {
          .instance-details-controls__state-indicator {
            background-color: $custom_color_error;
          }
          .instance-details-controls__state-text {
            color: $custom_color_error;
          }
        }
      }

      .instance-details-controls__actions {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        margin-right: 20px;
  
        .button {
          box-shadow: none;
          font-size: 12pt;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &.standalone {
          .button {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        .toggle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          cursor: pointer;
          background-color: white;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-left: solid 2px $custom_gray_medium;
          transition: background-color 0.2s ease-out;
  
          .arrow {
            fill: $custom_blue;
            transition: fill 0.2s ease-out;
          }
  
          &:hover {
            background-color: $custom_blue;
  
            .arrow {
              fill: white;
            }
          }
        }
        .submenu {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          padding-top: 2px;
          z-index: 1;
  
          > ul {
            display: flex;
            flex-flow: column nowrap;
            row-gap: 10px;
            width: 100%;
            list-style: none;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: white;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  
            > li {
              display: flex;
              align-items: center;
              font-size: 11pt;
              transition: opacity 0.2s ease-out;
              line-height: 100%;
              padding-top: 1px;
              cursor: pointer;
  
              .action-icon {
                display: block;
                height: 16px;
                flex-grow: 0;
                flex-shrink: 0;
                margin-right: 5px;
                margin-top: -1px;
                fill: $custom_blue;
              }
  
              &:hover {
                opacity: 0.75;
              }
            }
          }
        }
      }
    }
  }

  ::ng-deep .mat-tab-label-container {
    border-bottom: solid 1px $custom_gray_light;

    .mat-tab-label {
      opacity: 1;
      border-bottom: solid 2px transparent;
      transition: border-color 0.2s ease-out;

      .mat-tab-label-content {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .tab-icon {
          width: 18px;
          height: 18px;
          fill: $custom_blue;
          margin-right: 6px;
        }
      }

      &.mat-tab-label-active {
        border-bottom: solid 2px $custom_blue;
      }
    }

    .mat-ripple-element {
      display: none;
    }
  }
  ::ng-deep .mat-tab-body-content {
    padding-top: 50px;
  }

  .save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
        
    button {
      min-width: 200px;
    }
  }

  .instance-details-info {
    display: flex;
    flex-flow: row nowrap;
    
    margin-bottom: 60px;
    background-color: white;
    border: solid 1px $custom_gray_light;
    border-radius: 10px;

    table {
      tbody {
        tr {
          th {
            padding: 5px 30px 5px 0;
            vertical-align: top;
            text-align: left;
            color: $custom_blue;
          }
          td {
            background-color: transparent;
            border-bottom: none;
            padding: 5px 0;
          }
        }
      }
    }

    .instance-details-info-left {
      padding: 20px;
      border-right: solid 1px $custom_gray_light;
      width: 50%;

      .instance-details-info-left-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;

        p {
          margin-bottom: 0;

          strong {
            display: block;
            width: 100%;
            color: $custom_blue;
          }
        }
      }

      .instance-details-info-left-bottom {
        th {
          span {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
            font-size: 13pt;
            color: $custom_blue;

            .link-icon {
              height: 18px;
              margin-right: 5px;
              fill: $custom_blue;
            }
          }
        }
      }
    }
    
    .instance-details-info-right {
      padding: 20px;
      width: 50%;

      th {
        font-weight: $custom_font_weight_medium;
      }
    }
  }

  .columns {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    column-gap: 50px;
    row-gap: 30px;
    margin: 30px 0;

    .instance-details-item {
      display: flex;
      flex-flow: column nowrap;
      width: calc(50% - 30px);
    }
  }

  .instance-details-text {
    width: 100%;
    margin-bottom: 30px;
  }

  .instance-details-item {
    display: flex;
    align-self: center;
    flex-flow: column nowrap;
    width: 100%;

    .error-messages {
      flex-grow: 1;
    }
    label {
      width: 100%;
      margin-bottom: 10px;
      padding-right: 30px;
      font-weight: $custom_font_weight_medium;
      font-size: 13pt;
      color: $custom_blue;
    }
    .field-description {
      width: 100%;
      margin-top: 10px;
      font-weight: $custom_font_weight_light;
    }
  }

  input.ng-dirty.ng-invalid {
    border-color: rgb(222, 65, 65);
    background: rgb(242, 225, 225)
  }

  input.ng-valid[required], input.ng-valid {
    border-color: #26b726;
    background: #e4ede4
  }
}