@import "src/styles-variables";

.activity-overlay {
  box-shadow: $custom_gray_darkest;
  background: inherit;

  .activity-overlay__button {
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.2s ease-out;

    .activity-overlay__button-active-activities-label {
      position: absolute;
      align-self: center;
      margin-bottom: 0 !important;
      pointer-events: none;
    }

    .activity-overlay__button-status-image {
      width: 30px;
      height: 30px;
      align-self: center;
      justify-items: center;
      pointer-events: none;

      .loading {
        background: $custom_gray_medium;
      }
    }

    .activitiy-indicator {
      width: 30px;
      height: 30px;

      ::ng-deep svg {
        width: 30px;
        height: 30px;
      }
  
      &.green {
        fill: $custom_color_info;
      }
      &.red {
        fill: $custom_color_error;
      }
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

.activity-overlay__menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: calc(100vw - 30px);
  max-width: 500px;
  max-height: calc(100vh - 100px);
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 15px;
    transform: translateX(50%);
    border-bottom: solid 7px white;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
  }
  .activity-overlay__menu-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    border-bottom: solid 1px $custom_gray_medium;
    cursor: pointer;
    transition: background-color 0.2s ease-out;

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:hover {
      background-color: $custom_gray_medium;
    }
    .activity-state {
      flex-grow: 0;
      flex-shrink: 0;

      .state-icon {
        float: left;
        width: 24px;
        height: 24px;
        margin-right: 10px;
        fill: $custom_gray_darkest;

        ::ng-deep svg {
          width: 24px;
          height: 24px;
        }

        &.green {
          fill: $custom_color_info;
        }
        &.red {
          fill: $custom_color_error;
        }
      }
    }
    .activity-icon {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 15px;

      .icon {
        float: left;
        width: 24px;
        height: 24px;

        ::ng-deep svg {
          width: 24px;
          height: 24px;
        }
      }
    }
    .activity-text {
      display: flex;
      flex-flow: column nowrap;

      .activity-title {
        color: $custom_blue;
      }
      .activity-timestamps {
        display: flex;
        flex-flow: row wrap;
        column-gap: 15px;

        .activity-start-date, .activity-end-date {
          font-size: 10pt;
          color: $custom_gray_darkest;
        }
      }
    }
  }

  .activity-overlay__menu-history {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 11pt;
    font-weight: $custom_font_weight_medium;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;

    &:hover {
      color: white;
      background-color: $custom_blue;
    }
  }
}


@media only screen and (max-width: $custom_responsive_size_s) {
  .activity-overlay__menu {
    width: calc(100vw - 30px);
    max-height: calc(100vh - 70px);
    max-width: none;
    right: -45px;

    &::before {
      right: 60px;
    }

    .activity-overlay__menu-item {
      padding: 5px 10px;
    }
  }
}