<div class="activity-overlay">
  <div class="activity-overlay__button tooltip" (click)="toggleOverlay()">
    <span class="tooltiptext">Recent Activities</span>
    <ng-container *ngIf="activeActivities">
      <img class="activitiy-indicator" src="assets/loading.gif" alt="activity status" class="activity-overlay__button-status-image loading">
      <label class="activity-overlay__button-active-activities-label">{{activeActivities}}</label>
    </ng-container>

    <app-cross-icon class="activitiy-indicator red" *ngIf="!activeActivities && lastActivityStatus === 'FAILURE'"></app-cross-icon>
    <app-check-icon class="activitiy-indicator green" *ngIf="!activeActivities && lastActivityStatus !== 'FAILURE'"></app-check-icon>
  </div>

  <div *ngIf="showOverlay" class="activity-overlay__menu">
    <div
          *ngFor="let activity of activityList | slice:0:10"
          [routerLink]="['/activities/', activity.id]"
          class="activity-overlay__menu-item"
          (click)="toggleOverlay()"
    >
      <div class="activity-state" [ngSwitch]="activity.state">
        <app-check-icon class="state-icon green" *ngSwitchCase="'FINISHED'"></app-check-icon>
        <app-cross-icon class="state-icon red" *ngSwitchCase="'ERROR'"></app-cross-icon>
        <img class="state-icon" *ngSwitchDefault [src]="activityStates.ongoing" alt="state">
      </div>

      <div class="activity-icon" [ngSwitch]="activity.type">
        <app-install-icon class="icon" *ngSwitchCase="'INSTALL_INSTANCE'"></app-install-icon>
        <app-delete-icon class="icon" *ngSwitchCase="'DELETE_INSTANCE'"></app-delete-icon>
        <app-pulse-icon class="icon" *ngSwitchCase="'START_INSTANCE'"></app-pulse-icon>
        <app-stop-icon class="icon" *ngSwitchCase="'STOP_INSTANCE'"></app-stop-icon>
        <app-restart-icon class="icon" *ngSwitchCase="'RESTART_INSTANCE'"></app-restart-icon>
      </div>

      <div class="activity-text">
        <span class="activity-title">{{activity.name}}</span>

        <div class="activity-timestamps">
          <span class="activity-start-date">Start: {{activity.start_time}}</span>
          <span class="activity-end-date" *ngIf="!!activity.finished_time && activity.finished_time !== 'None'">End: {{activity.finished_time}}</span>
          <span *ngIf="isAdmin && !!activity.user.id" class="activity-user">User: {{getNameOfUser(activity)}}</span>
        </div>

      </div>
    </div>

    <p *ngIf="!activityList.length" class="activity-overlay__menu-item-empty text-center">No activities found</p>

    <div [routerLink]="['/activities/']" class="activity-overlay__menu-history" (click)="toggleOverlay()">Show activity history</div>
  </div>
</div>

