<ng-container class="activity-overlay">
  <button [matMenuTriggerFor]="activityMenuOverlay" class="mat-button activity-overlay-button"> <!-- *ngSwitchCase="activeActivities" -->
    <img *ngIf="!activeActivities" src="assets/done.png" alt="activity status" style="width: 30px; height: 30px; align-self: center">
    <ng-container *ngIf="activeActivities">
      <img *ngIf="activeActivities" src="assets/loading.gif" alt="activity status" style="width: 30px; height: 30px; align-self: center">
      <label>{{activeActivities}}</label>
    </ng-container>
  </button>
  <mat-menu #activityMenuOverlay="matMenu" class="activity-overlay-menu">
    <span mat-menu-item
          *ngFor="let activity of activityList.reverse() | slice:0:10"
          (click)="openReferredActivity(activity.id)"
          class="activity-overlay-menu-item"
    >
<!--      <span class="activity-menu-item-state" [ngSwitch]="activity.state">-->
<!--        <img *ngSwitchCase="'FINISHED'" [src]="activityStates.finished" alt="state">-->
<!--        <img *ngSwitchCase="'ERROR'" [src]="activityStates.error" alt="state">-->
<!--        <img *ngSwitchDefault [src]="activityStates.ongoing" alt="state">-->
<!--      </span>-->
<!--      <span class="activity-icon">-->
<!--        <svg viewBox="0 0 1000 1000" [ngSwitch]="activity.type">-->
<!--          <path *ngSwitchCase="'INSTALL_INSTANCE'" [attr.d]="svgPaths.install"></path>-->
<!--          <path *ngSwitchCase="'DELETE_INSTANCE'" [attr.d]="svgPaths.delete"></path>-->
<!--          <path *ngSwitchCase="'START_INSTANCE'" [attr.d]="svgPaths.start"></path>-->
<!--          <path *ngSwitchCase="'STOP_INSTANCE'" [attr.d]="svgPaths.stop"></path>-->
<!--          <path *ngSwitchCase="'RESTART_INSTANCE'" [attr.d]="svgPaths.restart"></path>-->
<!--        </svg>-->
<!--      </span>-->
      <span> {{activity.state}} - {{activity.name}} - {{activity.type}} </span>
      <span> {{activity.start_time}} - {{activity.finished_time}} </span>

    </span>
    <span mat-menu-item (click)="openReferredActivity()" class="activity-overlay-menu-item-last"> Show history </span>

    <!--  <button mat-menu-item>-->
    <!--    <mat-icon>dialpad</mat-icon>-->
    <!--    <span>Redial</span>-->
    <!--  </button>-->
    <!--  <button mat-menu-item>-->
    <!--    <mat-icon>voicemail</mat-icon>-->
    <!--    <span>Check voice mail</span>-->
    <!--  </button>-->
    <!--  <button mat-menu-item>-->
    <!--    <mat-icon>notifications_off</mat-icon>-->
    <!--    <span>Disable alerts</span>-->
    <!--  </button>-->
  </mat-menu>
</ng-container>
