<div class="activity-overlay">
  <div [matMenuTriggerFor]="activityMenuOverlay" class="activity-overlay__button"> <!-- *ngSwitchCase="activeActivities" -->
    <ng-container *ngIf="activeActivities">
      <img src="assets/loading.gif" alt="activity status" class="activity-overlay__button-status-image loading">
      <label class="activity-overlay__button-active-activities-label">{{activeActivities}}</label>
    </ng-container>
    
    <app-cross-icon *ngIf="!activeActivities && lastActivityStatus === 'FAILURE'"></app-cross-icon>
    <app-check-icon *ngIf="!activeActivities && lastActivityStatus !== 'FAILURE'"></app-check-icon>
<!--    <img *ngIf="!(activityList.length)" id="noActivities" class="fas fa-question-circle fa-2x activity-overlay__button-status-image"/>-->
  </div>

  <mat-menu #activityMenuOverlay="matMenu" class="activity-overlay__menu">
    <div
          *ngFor="let activity of activityList | slice:0:10"
          [routerLink]="['/activities/', activity.id]"
          class="activity-overlay__menu-item"
    >
     <span class="item-state" [ngSwitch]="activity.state">
        <img *ngSwitchCase="'FINISHED'" [src]="activityStates.finished" alt="state">
        <img *ngSwitchCase="'ERROR'" [src]="activityStates.error" alt="state">
        <img *ngSwitchDefault [src]="activityStates.ongoing" alt="state">
      </span>
      <span class="item-icon">
          <svg viewBox="0 0 1000 1000" [ngSwitch]="activity.type" width="100%">
            <path *ngSwitchCase="'INSTALL_INSTANCE'" [attr.d]="svgPaths.install"></path>
            <path *ngSwitchCase="'DELETE_INSTANCE'" [attr.d]="svgPaths.delete"></path>
            <path *ngSwitchCase="'START_INSTANCE'" [attr.d]="svgPaths.start"></path>
            <path *ngSwitchCase="'STOP_INSTANCE'" [attr.d]="svgPaths.stop"></path>
            <path *ngSwitchCase="'RESTART_INSTANCE'" [attr.d]="svgPaths.restart"></path>
          </svg>
        </span>
      <div>
          <span class="item-title">
            {{activity.name}}
          </span> <br>
        <span class="item-start-date">
            started: {{activity.start_time}}
          </span>
        <span class="item-end-date" *ngIf="activity.finished_time !== 'None'">
            finished: {{activity.finished_time}}
          </span>
      </div>
    </div>

    <div *ngIf="!activityList.length" class="activity-overlay__menu-item-empty"> nothing to show here </div>

    <div [routerLink]="['/activities/']" class="activity-overlay__menu-item-last"> Show history </div>

    <!--  <button mat-menu-item>-->
    <!--    <mat-icon>dialpad</mat-icon>-->
    <!--    <span>Redial</span>-->
    <!--  </button>-->
    <!--  <button mat-menu-item>-->
    <!--    <mat-icon>voicemail</mat-icon>-->
    <!--    <span>Check voice mail</span>-->
    <!--  </button>-->
    <!--  <button mat-menu-item>-->
    <!--    <mat-icon>notifications_off</mat-icon>-->
    <!--    <span>Disable alerts</span>-->
    <!--  </button>-->
  </mat-menu>
</div>

