.imprint-text-wrapper {
  display: flex;
  flex-flow: column nowrap;

  .imprint-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 15px;
  }
  .imprint-editor {
    width: 100%;
  }
  .imprint-text {
    width: 100%;

    a {
      font-weight: initial;
    }
  }
}