<!--<p> imprint works </p>-->
<div class="portlet-body imprint" >
  <div class="subscribe-action"></div>
  <div class="imprint-centered-block" >
  <div class="h2" align="center">
    <span>Impressum</span>
  </div>
  <p><strong>Medical University Graz<br></strong>Neue Stiftingtalstraße 6<br>8010 Graz</p>



  <p><strong>E-Mail: </strong> <a href="mailto:heimo.mueller@medunigraz.at">heimo.mueller@medunigraz.at</a></p>



  <p><strong>Implementation</strong> by <a href="https://www.medunigraz.at/forschungszentren-institute/diagnostik-forschungszentrum-fuer-molekulare-biomedizin/forschung/genetische-und-umweltbedingte-krankheitsmechanismen/team-mueller">Team Müller</a> at Medical University Graz
    </p>
    <br>
    <p>In course of the projects:
    </p>
    <ul>
      <li><strong>CY-Biobank</strong> grant agreement Nr. 857122</li>
      <li><strong>HEAP</strong> grant agreement Nr. 874662</li>
    </ul>

  </div>

</div>
