.app-scaffold-header {
  display: flex;
  flex-direction: row;
  padding: 0 20px 0 20px;

  .app-scaffold-header__branding {
    flex-grow: 0;
    justify-content: start;
    align-self: center;
    width: 20vw;

    .app-scaffold-header__navbar-icon {
      max-height: 50px;
      height: 50px;
      width: auto;
    }
  }

  .app-scaffold-header__nav-buttons{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

    .app-scaffold-header__nav-button {
      // border-radius: 25px 25px 25px 25px;
      background: inherit;
      box-shadow: none;
      font-size: larger;
    }

    .app-scaffold-header__nav-button:hover {
      background-color: #2d6191;
      color: white;
    }

    .app-scaffold-header__nav-button:focus {
      background-color: #2d6191;
      color: white;
    }

    //.app-scaffold-header__nav-button:target {
    //  background-color: #2d6191;
    //  color: white;
    //}
  }

  .app-scaffold-header__activity-menu-overlay {
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
    width: 20vw;
  }

}
