<div class="app-scaffold-header">
  <div class="app-scaffold-header__branding">
    <img src="assets/silicolab_logo.png" alt="silicolab_logo.svg" class="app-scaffold-header__navbar-icon"/>
    <span> | {{title}}</span>
  </div>
  <div class="app-scaffold-header__nav-buttons">
    <button
      class="app-scaffold-header__nav-button"
      id="{{item.label}}"
      *ngFor="let item of navigation"
      type="button"
      [routerLink]="item.link"
      routerLinkActive="active">
      {{item.label}}
    </button>
  </div>
  <app-activity-menu-overlay class="app-scaffold-header__activity-menu-overlay"></app-activity-menu-overlay>
</div>
