.toolbar {
  background: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-buttons{
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-between;

  .nav-button {
    border-radius: 25px 25px 25px 25px;
    background: inherit;
    border: none;
    box-shadow: none;
    font-size: larger;
  }

  .nav-button:hover {
    background-color: #999999;
  }

  .nav-button:focus {
    color: #2d6191;
    box-shadow: inset 0 0 10px #C7C7C7;
  }
}

.branding {
  flex-grow: 1;

  .navbar-icon {
    max-height: 50px;
    height: 50px;
  }
}
