<div id="overlay-wrapper">
  <div id="overlay-inner">
    <div id="overlay-close-wrapper">
      <div id="overlay-close-body">
        <img [mat-dialog-close]="true" src="../../../../assets/img/close.png" alt="X">
      </div>
    </div>
    <div id="overlay-body">
      <div id="overlay-content">
        <button id="overlay-install" [mat-dialog-close]="true" (click)="installApp()"> Install </button>
        <div id="app-detail">
          <span class="app-detail-label"> Name </span><br/>
          {{applicationItem.app_display_name}}
          <br/><br/>

          <span class="app-detail-label"> Shortname </span><br/>
<!--          {{data.app_display_name}}-->
          <br/><br/>

          <span class="app-detail-label"> Docker versions </span><br/>
<!--          {{data.versions}} &lt;!&ndash; TODO reel picker&ndash;&gt;-->

          <mat-form-field appearance="fill">
<!--            <mat-label>Docker Versions</mat-label>-->
            <mat-select [(value)]="selectedVersion">
              <mat-option *ngFor="let version of applicationItem.versions" [value]="version">
                {{version.docker_version}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br/><br/>

          <span class="app-detail-label"> Version </span><br/>
          {{selectedVersion.version}}
          <br/><br/>

          <span class="app-detail-label"> Github URL </span><br/>

          <br/><br/>

          <span class="app-detail-label"> Catalogue URL </span><br/>

          <br/><br/>

          <span class="app-detail-label"> Application URL </span><br/>

          <br/><br/>

          <span class="app-detail-label"> Tags </span><br/>
          <span *ngFor="let tag of applicationItem.tags">
            {{tag}}
          </span>
          <br/><br/>

          <span class="app-detail-label"> Description </span><br/>
          {{applicationItem.short_description}}
          <br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>
