<h1 class="gapS text-center">Sys-Logs</h1>

<p class="gapL text-center">
  Here you can find BIBBOX core system logs.<br />
  These can be useful for system administration.
</p>

<p *ngIf="!containerNames?.length" class="text-center">No logs found</p>

<mat-accordion *ngIf="!!containerNames?.length">
  <mat-expansion-panel hideToggle *ngFor="let container of containerNames"
                       (opened)="periodicallyRefresh(container); setScrollHeight(scrollContainer.scrollHeight)"
                       (closed)="stopPeriodicRefresh(container)">
    <mat-expansion-panel-header>
      {{ container }}
      <app-arrow-down-icon class="arrow" [width]="16" [height]="16"></app-arrow-down-icon>
      <app-arrow-up-icon class="arrow active" [width]="16" [height]="16"></app-arrow-up-icon>
    </mat-expansion-panel-header>
    
    <span class="command">$ docker logs {{ container }} --tail 200</span>
    <div class="logs" #scrollContainer [scrollTop]="scrollContainer.scrollHeight">
      <div *ngFor="let log_entry of sysLogs[container]" class="log-entry">{{ log_entry }}</div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
