<!--<p>partners works!</p>-->

<div class="portlet-body">
  <div class="subscribe-action"></div>
  <div class="h2">
    <span>Partners</span>
  </div>
  <div class="asset-full-content clearfix show-asset-title">
    <div class="asset-content">
      <div class="journal-content-article">
        <p><a href="https://www.bbmri-eric.eu/" rel="noopener noreferrer" target="_blank"><strong>BBMRI-ERIC</strong></a></p>
        <p><a href="http://b3africa.org/" rel="noopener noreferrer" target="_blank"><strong>B3Africa</strong></a></p>
        <p><a href="https://heap-exposome.eu/" rel="noopener noreferrer" target="_blank"><strong>HEAP</strong></a></p>
        <p><a href="https://biobank.cy/" rel="noopener noreferrer" target="_blank"><strong>CY-Biobank</strong></a></p>

      </div>
    </div>
  </div>
</div>
