<h1 class="text-center">Partners</h1>

<div class="partners-text-wrapper">
  <div *ngIf="isLoggedin && isAdmin" class="partners-controls">
    <button *ngIf="!editMode" (click)="editText(true)">
      <app-edit-icon [width]="20" [height]="20"></app-edit-icon>Edit text
    </button>

    <button *ngIf="editMode" (click)="saveText()">
      <app-save-icon [width]="20" [height]="20"></app-save-icon>Save text
    </button>

    <button *ngIf="editMode" (click)="editText(false)">
      <app-cross-clear-icon [width]="16" [height]="16"></app-cross-clear-icon>Cancel
    </button>
  </div>

  <div *ngIf="editMode" class="partners-editor">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor [editor]="editor" [formControl]="htmlStr" [placeholder]="''"></ngx-editor>
  </div>

  <div *ngIf="!editMode"  class="partners-text" [innerHTML]="htmlStr.value|safeHtml"></div>
</div>