<div class="userDialog">
  <mat-dialog-content>
    <form [formGroup]="userForm">
      <div>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" required>
          <mat-error *ngIf="userForm.get('username').invalid && userForm.get('username').touched">
            Please enter a valid username.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="userForm.get('password').invalid && userForm.get('password').touched">
            Please enter a valid password.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-select placeholder="Role" formControlName="role" required>
            <mat-option *ngFor="let role of kcRoles" [value]="role.value">{{role.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('role').invalid && userForm.get('role').touched">
            Please select a role.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="E-Mail" formControlName="email">
          <mat-error *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName">
          <mat-error *ngIf="userForm.get('firstName').invalid && userForm.get('firstName').touched">
            Please enter a valid First Name.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="userForm.get('lastName').invalid && userForm.get('lastName').touched">
            Please enter a valid Last Name.
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [disabled]="userForm.invalid" (click)="onSave()">Save</button>
  </mat-dialog-actions>
</div>
