<div class="user-dialog-overlay">
  <div class="user-dialog-overlay__header">
    <h1 *ngIf="!isEditMode" class="text-center">Add user</h1>
    <h1 *ngIf="isEditMode" class="text-center">Edit user</h1>
    <app-cross-clear-icon class="dialog-close" [mat-dialog-close]="false" width="20" height="20"></app-cross-clear-icon>
  </div>

  <div class="user-dialog-overlay__text">
    <p *ngIf="!isEditMode" class="gapZ">Please fill out the form below to add a new user. Fields marked with * are required.</p>
    <p *ngIf="isEditMode" class="gapZ">Please fill out the form below to edit the user. Fields marked with * are required.</p>
  </div>

  <form [formGroup]="userForm"  class="user-dialog-overlay__body">
    <div class="user-dialog-overlay__body-column">
      <div class="user-dialog-item">
        <div class="user-dialog-item-body">
          <label for="username">Username *</label>
          <input type="text" id="username" required formControlName="username">
        </div>
        <div *ngIf="userForm.controls.username.invalid && userForm.controls.username.touched" class="error-messages">
          <mat-error *ngIf="userForm.controls.username.errors?.usernameExists; else usernameError1">
            This username already exists.
          </mat-error>
          <ng-container>
            <ng-template #usernameError1>
              <mat-error *ngIf="userForm.controls.username.errors?.isAlphanumeric; else usernameError2">
                Only alphanumeric chars allowed.
              </mat-error>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template #usernameError2>
              <mat-error *ngIf="userForm.controls.username.errors?.maxlength; else usernameError3">
                Max. username length is {{usernameMaxLength}} chars.
              </mat-error>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template #usernameError3>
              <mat-error *ngIf="userForm.controls.username.hasError('minlength') && userForm.get('username').touched; else usernameError4">
                Min. username length is {{usernameMinLength}} chars.
              </mat-error>
            </ng-template>
          </ng-container>
          <ng-container>
            <ng-template #usernameError4>
              <mat-error *ngIf="userForm.get('username').invalid && userForm.get('username').touched">
                Please enter a valid username.
              </mat-error>
            </ng-template>
          </ng-container>
        </div>
      </div>
      
      <div class="user-dialog-item">
        <div class="user-dialog-item-body">
          <label for="password">Password<span *ngIf="!isEditMode"> *</span></label>
          <input type="password" id="password" required="{{!isEditMode}}" formControlName="password">
        </div>
        <div *ngIf="userForm.controls.password.invalid && userForm.controls.password.touched" class="error-messages">
          <mat-error *ngIf="userForm.controls.password.errors?.minlength">
            Min. password length is {{passwordMinLength}} chars.
          </mat-error>
          <mat-error *ngIf="userForm.controls.password.errors?.maxlength">
            Max. password length is {{passwordMaxLength}} chars.
          </mat-error>
          <mat-error *ngIf="userForm.controls.password.errors?.required">
            Please enter a valid password.
          </mat-error>
        </div>
      </div>
      
      <div class="user-dialog-item">
        <div class="user-dialog-item-body">
          <label for="role">Role *</label>
          <select formControlName="role">
            <option *ngFor="let role of kcRoles" id="role" [value]="role.value">{{role.name}}</option>
          </select>
        </div>
        <div *ngIf="userForm.controls.role.invalid && userForm.controls.role.touched" class="error-messages">
          <mat-error *ngIf="userForm.get('role').invalid && userForm.get('role').touched">
            Please select a role.
          </mat-error>
        </div>
      </div>
    </div>

    <div class="user-dialog-overlay__body-column">
      <div class="user-dialog-item">
        <div class="user-dialog-item-body">
          <label for="firstname">Firstname</label>
          <input type="text" id="firstname" formControlName="firstName">
        </div>
        <div *ngIf="userForm.controls.firstName.invalid && userForm.controls.firstName.touched" class="error-messages">
          <mat-error *ngIf="userForm.get('firstName').invalid && userForm.get('firstName').touched">
            Please enter a valid First Name.
          </mat-error>
        </div>
      </div>
      
      <div class="user-dialog-item">
        <div class="user-dialog-item-body">
          <label for="lastname">Lastname</label>
          <input type="text" id="lastname" formControlName="lastName">
        </div>
        <div *ngIf="userForm.controls.lastName.invalid && userForm.controls.lastName.touched" class="error-messages">
          <mat-error *ngIf="userForm.get('lastName').invalid && userForm.get('lastName').touched">
            Please enter a valid Last Name.
          </mat-error>
        </div>
      </div>
      
      <div class="user-dialog-item">
        <div class="user-dialog-item-body">
          <label for="email">E-Mail</label>
          <input type="email" id="email" formControlName="email">
        </div>
        <div *ngIf="userForm.controls.email.invalid && userForm.controls.email.touched" class="error-messages">
          <mat-error *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
            Please enter a valid email address.
          </mat-error>
        </div>
      </div>
    </div>
  </form>

  <div class="user-dialog-overlay__footer">
    <div class="user-dialog-overlay__save-button">
      <button
        class="gradient"
        [mat-dialog-close]="true"
        (click)="onSave()"
        [disabled]="userForm.invalid">
        <app-save-icon></app-save-icon>Save
      </button>
  </div>
</div>