<VirtualHost *:80>
        ServerName §§INSTANCEID.§§BASEURL
        ProxyRequests           Off
        ProxyPreserveHost       On

        ProxyPass               /       http://§§CONTAINERNAME/
        ProxyPassReverse        /       http://§§CONTAINERNAME/
</VirtualHost>
