<div class="application-tile" (click)="openInstallScreenDialog()">
  <span *ngIf="application.decoration" class="decoration">
    <img *ngIf="application.decoration == 'new'" src="../../../../../assets/new.png" alt="new">
    <img *ngIf="application.decoration == 'announced'" src="../../../../../assets/announced.png" alt="announced">
    <img *ngIf="application.decoration == 'FAIR'" src="../../../../../assets/FAIR.png" alt="FAIR">
  </span>
  <span class="icon">
    <img src="{{application.icon_url}}" alt="{{application.icon_url}}">
    <span class="name"> {{application.app_display_name}} </span>
  </span>
  <span class="description"> {{application.short_description}} </span>
</div>
