<div class="app-install-overlay">
  <div class="app-install-overlay__header">
    <img [mat-dialog-close]="false" src="assets/close.png" alt="X">
  </div>
  <div class="app-install-overlay__body">
    <div class="app-install-overlay__body-install-button">
      <button [mat-dialog-close]="true" (click)="openInstallScreen()"> Install </button>
    </div>

    <div class="app-install-overlay__body-entry">
      <span class="app-install-overlay__body-entry-label"> Name </span><br/>
      <span class="app-install-overlay__body-entry-description"> {{appInfo.name}} </span><br/><br/>
    </div>

    <div class="app-install-overlay__body-entry">
      <span class="app-install-overlay__body-entry-label"> Shortname </span><br/>
      <span class="app-install-overlay__body-entry-description"> {{appInfo.short_name}} </span><br/><br/>
    </div>

    <div class="app-install-overlay__body-entry">
      <span class="app-install-overlay__body-entry-label"> App Versions </span><br/>
      <span class="app-install-overlay__body-entry-description">
        <mat-form-field appearance="fill" class="app-install-overlay__body-entry-dropdown" [floatLabel]="'never'">
          <mat-label></mat-label>
          <mat-select [(value)]="selectedVersion" (selectionChange)="loadAppInfo()">
            <mat-option *ngFor="let version of applicationItem.versions" [value]="version">
              {{version.app_version}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span><br/><br/>
    </div>

    <div class="app-install-overlay__body-entry">
      <span class="app-install-overlay__body-entry-label"> Version </span><br/>
      <span class="app-install-overlay__body-entry-description"> {{selectedVersion.version}} </span><br/><br/>
    </div>

    <div class="app-install-overlay__body-entry">
      <span class="app-install-overlay__body-entry-label"> Github URL </span><br/>
      <span class="app-install-overlay__body-entry-description">
        <a href="{{appInfo.application_url}}" target="_blank" rel="noopener noreferrer">
          {{appInfo.application_url}}
        </a>
      </span><br/><br/>
    </div>

<!--    <div class="app-install-overlay__body-entry">-->
<!--      <span class="app-install-overlay__body-entry-label"> Catalogue URL </span><br/>-->
<!--      <span class="app-install-overlay__body-entry-description">-->
<!--        <a href="{{appInfo.catalog_url}}" target="_blank" rel="noopener noreferrer">-->
<!--          {{appInfo.catalog_url}}-->
<!--        </a>-->
<!--      </span><br/><br/>-->
<!--    </div>-->

    <div class="app-install-overlay__body-entry">
      <span class="app-install-overlay__body-entry-label"> Application URL </span><br/>
      <span class="app-install-overlay__body-entry-description">
        <a href="{{appInfo.application_documentation_url}}" target="_blank" rel="noopener noreferrer">
          {{appInfo.application_documentation_url}}
        </a>
      </span><br/><br/>
    </div>

    <div class="app-install-overlay__body-entry">
      <span class="app-install-overlay__body-entry-label"> Tags </span><br/>
      <span class="app-install-overlay__body-entry-description">
        <span class="app-install-overlay__body-entry-tag" *ngFor="let tag of applicationItem.tags"> {{tag}} </span>
      </span><br/><br/>
    </div>

    <div class="app-install-overlay__body-entry">
      <span class="app-install-overlay__body-entry-label"> Description </span><br/>
      <span class="app-install-overlay__body-entry-description"> {{applicationItem.short_description}} </span><br/><br/>
    </div>
  </div>
</div>
