@import "src/styles-variables";
.app-install-overlay {
  display: flex;
  flex-flow: column nowrap;
  width: 50vw;
  max-width: 1000px;

  .app-install-overlay__header {
    display: flex;
    justify-content: end;

    img {
      float: left;
      width: 20px;
      height: 20px;
    }
  }

  .app-install-overlay__body {
    display: flex;
    width: 90%;
    align-self: center;
    flex-flow: column nowrap;

    .app-install-overlay__body-install-button {
      display: flex;
      align-self: center;

      button {
        border: 1px $custom_gray_lightaccent solid;
      }
    }

    .app-install-overlay__body-entry {
      margin-bottom: 10px;

      .app-install-overlay__body-entry-label {
        margin-bottom: 5px;
        font-weight: bold;
        color: $custom_blue
      }

      .app-install-overlay__body-entry-description {
        .app-install-overlay__body-entry-dropdown {
          font-size: small;
        }
        .app-install-overlay__body-entry-tag {

        }
      }

      .app-install-overlay__body-entry-tag {
        padding: 2px 5px;
        margin: 0 5px 5px 0;
        font-size: small;
        background: rgba(0, 0, 0, 0.07);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        color: $custom_gray_dark;
        cursor: pointer
      }
      .app-install-overlay__body-entry-tag:hover {
        background: $custom_gray_dark+DD;
        color: white
      }
    }
  }
}
