.login {
  display: flex;
  flex-flow: column;
  width: inherit;

  .login__title {
    text-align: left;
    margin-bottom: 15px;
    font-size: 20px;
    color: #2d6191
  }
  .login__form {
    display: flex;
    flex-flow: column;
  }
   .login__button{
     color: #FFF;
     background-color: #65b6f0;
     text-align: center;
     display: inline-block;
     width: 200px;
     height: 50px;
     margin: 0;
   }
}
