<div class="login">
  <form [formGroup]="loginForm" class="login__form">
    <h1 class="login__title">Login</h1>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username" class="login__input">
    </mat-form-field>
    <div *ngIf="loginForm.get('username').touched && this.loginForm.get('username').hasError('required')" class="alert alert-danger">
      This field is required.
    </div>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password" class="login__input">
    </mat-form-field>
    <div *ngIf="loginForm.get('password').touched && this.loginForm.get('password').hasError('required')" class="alert alert-danger">
      This field is required.
    </div>

<!--    <p *ngIf="error" class="error">-->
<!--      {{ error }}-->
<!--    </p>-->

  <button
    [disabled]="!loginForm.valid"
    (click)="this.logFunct(getUsername(), getPassword())"
    type="button"
    class="login__button">
    <span>Sign In</span>
  </button>
  <!--      (click)="this.userService.login(getUsername(),getPassword())"-->
  </form>
</div>
