@import "src/styles-variables";
#app-install {
  display: flex;
  justify-content: center;
  width: 100%;

  .install-form {
    align-content: center;
    display: flex;
    flex-flow: column nowrap;

    .app-install-text{
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
      text-align: center;
      align-self: center;
    }

    h2 {
      align-self: center;
      text-align: center;
      font-size: 25px;
      color: $custom_blue;
      margin-bottom: 25px
    }

    //.full-width {
    //  width: 100%;
    //  display: inline-block;
    //  text-align: center
    //}

    .install-form-item {
      display: flex;
      align-self: center;
      flex-flow: column wrap;
      width: 100%;

      .error-messages {
        flex-grow: 1;
      }


      .install-item-body {
        display: flex;
        flex-flow: row wrap;
        width: 100%;

        label {
          display: inline-block;
          width: 20%;
          max-width: 100%;
          margin-bottom: 5px;
          padding-right: 30px;
          font-weight: bold;
          color: $custom_blue;
          text-align: right;
          height: 33px;
          line-height: 33px
        }

        input {
          display: inline-block;
          width: 60%;
          max-width: 100%;
          padding: 5px 10px;
          margin-bottom: 5px;
          border-radius: 3px;
          border: solid 1px lightgray;
          text-align: left;

          //.ng-invalid:not(form) {
          //  border-color: rgb(222, 65, 65);
          //  background: rgb(242, 225, 225)
          //}
          //
          //.ng-valid[required], .ng-valid {
          //  border-color: #26b726;
          //  background: #e4ede4
          //}

        }
        .field-description {
          width: 100%;
          margin-left: 20%;
          margin-right: 20%;
          padding: 0 5px;
          margin-bottom: 20px
        }
      }
    }




    .install-submit {
      text-align: center;

      .app-install-submit {
        border: 1px $custom_gray_medium solid;
      }
      .app-install-cancel {
        border: 1px $custom_gray_medium solid;

      }


      .app-install-submit-invalid {
        background: $custom_color_error+CC;
        color : $custom_gray_dark;
      }
    }


  }
}

input.ng-dirty.ng-invalid {
  border-color: $custom_color_error;
  background: rgb(242, 225, 225)
}

input.ng-valid[required], input.ng-valid {
  border-color: $custom_color_info;
  background: #e4ede4
}
