@import "src/styles-variables";

.user-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 50px;

  > div {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }
}

.admin-panel__user-table {
  .admin-panel__user-table__action-buttons {
    white-space: nowrap;
    
    button {
      padding: 5px;
      margin-right: 15px;
      width: 40px;

      .button-icon {
        height: 18px;
        
        ::ng-deep svg {
          height: 18px;
          margin-right: 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


@media only screen and (max-width: $custom_responsive_size_ms) {
  .user-search {
    flex-flow: column nowrap;

    > div {
      width: 100%;

      input, select, button {
        width: 100%;
      }
    }
  }
}
