<div class="admin-panel__button_bar">
  <button (click)="openDialog()"><app-plus-icon></app-plus-icon>Add User</button>
</div>

<table class="admin-panel__user-table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Role</th>
      <th>E-Mail</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td class="admin-panel__user-table__cell">
        <div class="admin-panel__user-table__cell-content">{{ user.username }}</div>
      </td>

      <td class="admin-panel__user-table__cell">
        <div class="admin-panel__user-table__cell-content">{{ user.firstName }}</div>
      </td>

      <td class="admin-panel__user-table__cell">
        <div class="admin-panel__user-table__cell-content">{{ user.lastName }}</div>
      </td>

      <td class="admin-panel__user-table__cell">
        {{kcRoles[user.roles[0]]}}
      </td>

      <td class="admin-panel__user-table__cell">
        <div class="admin-panel__user-table__cell-content">{{ user.email }}</div>
      </td>

      <td class="admin-panel__user-table__action-buttons text-center">
        <button (click)="editUser(user)" title="Edit user"><app-edit-icon class="button-icon" [width]="18" [height]="18"></app-edit-icon></button>
        <button (click)="confirmDelete(user)" title="Delete user"><app-delete-icon class="button-icon" [width]="18" [height]="18"></app-delete-icon></button>
      </td>
    </tr>
  </tbody>
</table>
