<div class="admin-panel__button_bar">
  <button (click)="openDialog()"><app-plus-icon></app-plus-icon>Add User</button>
</div>

<table class="admin-panel__user-table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Role</th>
      <th>E-Mail</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of userForms; let i = index" [formGroup]="user">
      <td class="admin-panel__user-table__cell">
        <div class="admin-panel__user-table__cell-content">{{ user.controls.username.value }}</div>
      </td>

      <td class="admin-panel__user-table__cell">
        <div class="admin-panel__user-table__cell-content">{{ user.controls.firstName.value }}</div>
      </td>

      <td class="admin-panel__user-table__cell">
        <div class="admin-panel__user-table__cell-content">{{ user.controls.lastName.value }}</div>
      </td>

      <td class="admin-panel__user-table__cell">
        {{kcRoles[user.controls.role.value]}}
      </td>

      <td class="admin-panel__user-table__cell">
        <div class="admin-panel__user-table__cell-content">{{ user.controls.email.value }}</div>
      </td>

      <td class="admin-panel__user-table__action-buttons text-center">
        <button (click)="edit(user.value)" title="Edit user"><app-edit-icon class="button-icon" [width]="18" [height]="18"></app-edit-icon></button>
        <button (click)="confirmDelete(user.value)" title="Delete user"><app-delete-icon class="button-icon" [width]="18" [height]="18"></app-delete-icon></button>
      </td>
    </tr>
  </tbody>
</table>
