<div id="instance-details" *ngIf="instance$ | async">
  <div class="instance-details-header">
    <span class="instance-details-title">
      <img src="assets/img/b3africa.png" alt="404">
      <h1>{{instanceDetailForm.controls['displayname_short'].value}}</h1>
      <h3>{{instanceDetailForm.controls['displayname_long'].value}}</h3>
    </span>
    <span class="instance-details-controls" *ngIf="tabIndex == 0">
      <ng-container *ngIf="instanceItem.state === 'STOPPED'"> <!--  -->
        <span class="status stopped"></span>
        <button (click)="manageInstance('start')">
          <svg viewBox="0 0 1000 1000">
            <path [attr.d]="svgPaths.start"></path>
          </svg>
          <span class="text"> Start </span>
        </button>
        <button (click)="deleteInstance()">
          <svg viewBox="0 0 1000 1000">
            <path [attr.d]="svgPaths.delete"></path>
          </svg>
          <span class="text"> Delete </span>
        </button>
      </ng-container>

      <ng-container *ngIf="instanceItem.state === 'RUNNING'"> <!--  -->
        <span class="status running"></span>
        <button (click)="manageInstance('stop')">
          <svg viewBox="0 0 1000 1000">
            <path [attr.d]="svgPaths.stop"></path>
          </svg>
          <span class="text"> Stop </span>
        </button>
        <button (click)="manageInstance('restart')">
          <svg viewBox="0 0 1000 1000">
            <path [attr.d]="svgPaths.restart"></path>
          </svg>
          <span class="text"> Restart </span>
        </button>
      </ng-container>

      <ng-container *ngIf="instanceItem.state === ('RESTARTING' || 'STOPPING' || 'DELETING' || 'STARTING')"> <!--  -->
        <span class="status in_operation"></span>
        <button disabled style="background: lightgray" (click)="manageInstance('start')">
          <svg viewBox="0 0 1000 1000">
            <path [attr.d]="svgPaths.start"></path>
          </svg>
          <span class="text"> Start </span>
        </button>

      </ng-container>
      <ng-container *ngIf="instanceItem.state === ('JUSTBORN' || 'INSTALLING')"> <!--  -->
        Currently installing...
      </ng-container>
    </span>
  </div>

  <mat-tab-group animationDuration="0ms" mat-align-tabs="center" [(selectedIndex)]="tabIndex" id="tab-nav">
    <mat-tab label="Dashboard">
      <ng-template matTabContent>
        <br><br><br>
        <div class="instance-details-info-primary">
          <table>
            <tbody>
            <tr>
              <td class="label-short">ID:</td>
              <td>{{instanceItem.instancename}}</td>
            </tr>
            </tbody>
          </table>
          <table>
            <tbody>
            <tr>
              <td class="label-short">App:</td>
              <td>{{instanceItem.app.name}} {{instanceItem.app.version}}</td>
            </tr>
            </tbody>
          </table>
          <table>
            <tbody>
            <tr>
              <td class="label-short">Version:</td>
              <td>{{instanceItem.app.version}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="instance-details-info row">
          <div class="col-2">
            <div class="list-box">
              <table>
                <tbody>
                <tr *ngFor="let link of instanceLinks">
                  <td class="icon"><img src="assets/img/external_ref.png" alt="^"></td>
                  <td class="label-left">{{link.label}}</td>
                  <td>
                    <a href="{{link.url}}" target="_blank" rel="noopener noreferrer">
                      {{link.url}}
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-2">
            <div class="list-box">
              <table>
                <tbody>
                <tr>
                  <td class="label-right">Containers:</td>
                  <td>
                    <span *ngFor="let container of this.instanceItem.container_names"> {{container}} <br/></span>
                  </td>
                </tr>
                <tr>
                  <td class="label-right">Instance:</td>
                  <td>/opt/bibbox/instances/{{instanceItem.instancename}}</td>
                </tr>
                <tr>
                  <td class="label-right">Proxy:</td>
                  <td>/opt/bibbox/proxy/sites/005-{{instanceItem.instancename}}.conf</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br><br><br><br>
        <ng-container [formGroup]="instanceDetailForm">
        <div class="row">
          <div class="col-2">
            <label>Short name</label><br>
            <input type="text" class="right" formControlName="displayname_short" [value]="instanceDetailForm.controls['displayname_short'].value">
          </div>
          <div class="col-2">
            <label>Long name</label><br>
            <input type="text" class="right" formControlName="displayname_long" [value]="instanceDetailForm.controls['displayname_long'].value">
          </div>
        </div>
        <br><br>
          <mat-form-field class="description-form-field">
            <mat-label>Short Description</mat-label>
            <textarea matInput
                      formControlName="description_short"
                      [value]="instanceDetailForm.controls['description_short'].value"
                      placeholder="---">
            </textarea>
          </mat-form-field> <br/><br/>
          <mat-form-field class="description-form-field">
            <mat-label>Long Description</mat-label>
            <textarea matInput
                      formControlName="description_long"
                      [value]="instanceDetailForm.controls['description_long'].value"
                      placeholder="---">
            </textarea>
          </mat-form-field>
        </ng-container>
        <div class="save-button">
          <button (click)="saveInstanceChanges()"> Save </button>
        </div>
      </ng-template>
    </mat-tab>


    <mat-tab label="Logs">
      <ng-template matTabContent>
        <br><br><br>
        <!-- https://material.angular.io/components/table/examples#table-http -->
        <ng-container *ngFor="let container of this.instanceItem.container_names">
          <div class="instance-details-log-item">
            <span class="instance-details-log-containername">{{container}}</span><br>
            <span class="instance-details-log-command">$ docker logs {{container}} --tail 200</span><br>
            <div class="instance-details-log-container">
              <div *ngFor="let log_entry of instanceContainerLogs[container]" class="instance-details-log-container-entry">{{log_entry}}</div>
            </div>
          </div>
          <br><br><br>
        </ng-container>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
