<VirtualHost *:443>
        ServerName fdp.§§BASEURL
        ProxyRequests           Off
        ProxyPreserveHost       On

        ProxyPass               /       http://bibbox-sys-commander-master-fdp-client:80/
        ProxyPassReverse        /       http://bibbox-sys-commander-master-fdp-client:80/
</VirtualHost>