.application-group {
  margin-bottom: 20px;
  border-bottom: solid 1px #DDD;
  padding-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.application-group:last-child {
  border-bottom: 0
}

.application-group-name {
  text-align: left;
  //padding: 0 10px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #2d6191
}
