@import "src/styles-variables";

.application-group {
  margin-bottom: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.application-group:last-child {
  border-bottom: 0
}

.application-group-name {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  color: $custom_blue;
  font-weight: $custom_font_weight_normal;
}
