@import "src/styles-variables";
.application-group {
  margin-bottom: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.application-group:last-child {
  border-bottom: 0
}

.application-group-name {
  text-align: left;
  padding: 0 10px;
  margin-bottom: 15px;
  font-size: 20px;
  color: $custom_blue;
  font-weight: $custom_font_weight_normal;
}
