<div id="app-install">
  <form [formGroup]="installForm">
    <div class="app-install-text">
      <h2>{{appItem.app_display_name}}</h2>
      <span> Please fill out the form to install the application. </span>
    </div>
<!--    <input type="hidden" name="app_name" value="{{appItem.app_name}}" readonly="">-->
<!--    <input type="hidden" name="version" value="{{selectedVersion.docker_version}}" readonly=""><br/>-->

    <label for="instance_id"> Application ID</label>
    <input type="text" value="" name="instance_id" required id="instance_id" formControlName="instance_id">
    <span class="field-description"> Subdomain of your application URL. <b>The application ID can not be changed after the installation.</b></span>

    <label for="instance_name"> Application Name</label>
    <input type="text" value="" name="instance_name" required id="instance_name" formControlName="instance_name" (ngModelChange)="test('a')">
    <span class="field-description">Full name of your application, can be changed later on.</span>

    <ng-container formArrayName="envParams" *ngFor="let envparam of environmentParameters; let i = index">
      <label> {{envparam.display_name}} </label>
      <input type="{{envparam.type}}" name="{{envparam.id}}" formControlName="{{envparam.id}}" placeholder="{{envparam.default_value}}">
      <span class="field-description">{{envparam.description}}</span>
    </ng-container>

    <span class="install-submit">
      <button class="app-install-cancel" type="button" (click)="cancel()">Cancel</button>
      <button class="app-install-submit" type="submit" (click)="install()">Install</button> <!-- [disabled]="!installForm.valid" -->
    </span>
  </form>
</div>
