<div id="notfound" style="position: relative; height: 50vh;">
  <div class="notfound" style="position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); max-width: 710px;
        width: 100%;
        padding-left: 190px;
        line-height: 1.4;">
    <div class="notfound-404" style="">
      <h1>:(</h1>
    </div>
    <h2>404 - Page not found</h2>
    <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
  </div>
</div>
