// @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
@import "styles-variables";
//@import "~roboto-fontface/css/roboto/sass/roboto-fontface";
//@import "~material-icons/iconfont/material-icons.css";

html, body {
  min-height: 100%;
  background: $custom_gray_light; //url("assets/furley_bg.png") repeat scroll;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background: inherit;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  // border: 1px solid $custom_gray_lightaccent;
}

button:hover {
  color: white;
  background: $custom_blue;
}


.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}


// for dialogs
.custom-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
