<div class="portlet-body">
  <div class="subscribe-action"></div>
  <div class="h2">
    <span>Contact</span>
  </div>
  <div class="asset-full-content clearfix show-asset-title">
    <div class="asset-content">
      <div class="journal-content-article">
        <p>BIBBOX Team Graz</p>
        <p><a href="mailto:emilian.jungwirth@medunigraz.at" target="">Emilian Jungwirth &lt;emilian.jungwirth@medunigraz.at&gt;</a></p>
        <p><a href="mailto:markus.plass@medunigraz.at" target="">Markus Plass &lt;markus.plass@medunigraz.at&gt;</a></p>
        <p><a href="mailto:heimo.mueller@meduni-graz.at" target="">Heimo Müller &lt;heimo.mueller@medunigraz.at&gt;</a></p>
        <br><br>
        <p><a href="https://bibbox.org" rel="noopener noreferrer" target="_blank">http//bibbox.org</a></p>
      </div>
    </div>
  </div>
</div>
