@import "src/styles-variables";

.app-instance-delete-overlay {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  .app-instance-delete-overlay__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .dialog-close {
      position: absolute;
      top: 20px;
      right: 20px;
      float: left;
      width: 18px;
      height: 18px;
      fill: $custom_gray_dark;
      cursor: pointer;
      transition: fill 0.2s ease-out;
      z-index: 1;

      &:hover {
        fill: $custom_blue;
      }
    }
  }

  .app-instance-delete-overlay__body {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
  }

  .app-instance-delete-overlay__footer {
    margin-top: 30px;
    
    .app-instance-delete-overlay__delete-button {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  }
}
