<section id = "facet-container">
  <section id = "facet-search">
    <!-- MAT CHIPS etc. -->
    [SEARCHBAR]
  </section>
  <section class="example-list-section">
    <span *ngFor="let tag of tasks">
      <span class="facet-item">
        <label class="facet-label">
          <input type="checkbox" value="{{tag.name}}" name="tags" [(ngModel)]="tag.checked" (ngModelChange)="log(tag)">
          {{tag.name}}
        </label>
        <span class="facet-bar" [ngStyle]="tag.facetBarStyle"></span>
      </span>


      <mat-checkbox class="checkbox-item"  [color]="tag.color" >
        {{tag.name}}
      </mat-checkbox>
    </span>
  </section>
</section>
