.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

.checkbox-item {
  padding: 1px;
  margin: 1px;
  background-color: #6496b4;
}


.example-list-section {
  flex-direction: column;
}

.facet-wrapper {
  width: 250px;
  float: left;
  text-align: left;
  padding: 0 20px 0 10px
}

.facet-title {
  text-align: left;
  padding: 0 10px;
  margin-bottom: 25px;
  font-size: 20px;
  color: #2d6191
}

.facet-item {
  text-align: left;
  margin-bottom: 10px;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3)
}

.facet-label {
  padding: 5px 10px 5px 35px;
  position: relative;
  color: rgb(85, 95, 125);
  cursor: pointer;
  z-index: 1;

  input {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
  }
}



.facet-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background: rgba(100, 150, 180, 0.2);
  z-index: 0;
}
