<footer class="app-scaffold-footer">
  <div class="app-scaffold-footer-inner">
    <div class="app-scaffold-footer__copyright">
        <a href="http://bibbox.org/" target="_blank" rel="noopener noreferrer">
          &#169; BIBBOX <span class="year">{{year}}</span>
        </a>
    </div>

    <nav class="app-scaffold-footer__nav__framework">
      <ul class="app-scaffold-footer__nav-buttons">
        <li *ngFor="let item of bottomNavigation">
          <a
            id="{{item.label}}"
            [routerLink]="item.link"
            routerLinkActive="active">
            {{item.label}}
          </a>
        </li>
      </ul>
    </nav>

    <div class="app-scaffold-footer__logos">
      <a href="https://heap-exposome.eu" target="_blank" rel="noopener noreferrer">
        <img class="app-scaffold-footer__logos-img" src="assets/heap.png" alt="heap" height="40">
      </a>

      <a href="https://biobank.cy" target="_blank" rel="noopener noreferrer">
        <img class="app-scaffold-footer__logos-img" src="assets/cy-biobank.png" alt="cy biobank" height="45">
      </a>
  <!--    <a href="http://b3africa.org" target="_blank" rel="noopener noreferrer">
        <img class="app-scaffold-footer__logos-img" src="assets/b3africa.png" alt="b3africa">
      </a>
      <a href="https://bbmri-eric.eu" target="_blank" rel="noopener noreferrer">
        <img class="app-scaffold-footer__logos-img" src="assets/bbmri-eric.png" alt="bbmri eric">
      </a>-->
    </div>
  </div>
  <div class="app-scaffold-footer__citation">
    <p class="fontS">Please cite: <strong>Müller Heimo, Catarina Lopes-Dias, Petr Holub, Markus Plass, Emilian Jungwirth, Robert Reihs, Paul R. Torke, Apostolos Malatras, Anouk Berger, Heather Coombs, Joakim Dillner, Roxana Merino-Martinez <a href="https://doi.org/10.1016/j.nbt.2023.06.001" target="_blank">"BIBBOX, a FAIR toolbox and App Store for Life Science Research."</a> New Biotechnology (2023).</strong></p>
  </div>
</footer>