@import "src/styles-variables";
.app-scaffold-footer {
  font-size: 12px;
  position: page;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;

  .app-scaffold-footer__copyright {
    flex-grow: 0;
    width: 20vw;
    align-self: end;
    margin: 0 0 10px 10px;
  }

  .app-scaffold-footer__logos {
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
    width: 20vw;
    margin: 0 10px 10px 0;

    .app-scaffold-footer__logos-img {
      height: 50px;
      width: auto;
    }
  }

  .app-scaffold-footer__nav-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 40px;

    .app-scaffold-footer__nav-button {
      font-size: larger;
      font-weight: $custom_font_weight_light;
      width: 100px;
      border: none;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

}
