<footer class="docs-footer">
  <div class="docs-footer-list">


    <div class="docs-footer-copyright">
      <div>
        <a href="http://bibbox.org/" target="_blank" rel="noopener noreferrer">
          &#169; BIBBOX <span class="year">{{year}}</span>
        </a>
      </div>
    </div>

    <div class="docs-footer-navbar">
      <button class="" *ngFor="let item of bottomNavigation" [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </button>
    </div>


    <div class="docs-footer-logo">
      <div class="footer-logo">
        <a href="https://b3africa.org" target="_blank" rel="noopener noreferrer">
          <img class="docs-footer-logos" src="assets/b3africa.png" alt="b3africa">
        </a>
        <a href="https://bbmri-eric.eu" target="_blank" rel="noopener noreferrer">
          <img class="docs-footer-logos" src=".assets/bbmri-eric.png" alt="bbmri eric">
        </a>
      </div>
    </div>

  </div>
</footer>
