@import "src/styles-variables";
.app-scaffold-footer {
  display: flex;
  flex-flow: column nowrap;
  font-size: 12px;
  width: 100%;
  background-color: white;

  .app-scaffold-footer-inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    padding: 15px 30px;

    .app-scaffold-footer__copyright a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  
    .app-scaffold-footer__logos {
      flex-grow: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: flex-end;
      column-gap: 30px;
      min-height: 45px;
      margin-top: -5px;
    }

    .app-scaffold-footer__nav__framework {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .app-scaffold-footer__nav-buttons {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        column-gap: 30px;
        list-style: none;
  
        > li {
          > a {
            display: inline-block;
            border-top: solid 1px transparent;
            border-bottom: solid 1px transparent;
            font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
            text-decoration: none;
            line-height: 110%;
            transition: border-color 0.2s ease-out;
  
            &.active {
              font-weight: 600;
              color: $custom_blue;
              border-bottom-color: $custom_blue;
            }
  
            &:hover {
              border-bottom-color: $custom_gray_dark;
            }
          }
        }
      }
    }
  }

  .app-scaffold-footer__citation {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 30px;
    background-color: $custom_gray_medium;

    p {
      width: 100%;
      max-width: 1800px;
      margin-bottom: 0;
      text-align: center;

      a {
        white-space: nowrap;
        color: $custom_blue;
      }
    }
  }
}
