.app-scaffold-footer {
  font-size: 12px;
  position: page;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;

  .app-scaffold-footer__copyright {
    flex-grow: 0;
    width: 20vw;
    align-self: center;
  }

  .app-scaffold-footer__navbar {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    align-self: center;
    justify-content: center;
  }

  .app-scaffold-footer__logos {
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
    width: 20vw;

    .app-scaffold-footer__logos-img {
      height: 70px;
      width: auto;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }

}
