<footer class="app-scaffold-footer">
  <div class="app-scaffold-footer__copyright">
    <div>
      <a href="http://bibbox.org/" target="_blank" rel="noopener noreferrer">
        &#169; BIBBOX <span class="year">{{year}}</span>
      </a>
    </div>
  </div>

  <div class="app-scaffold-footer__nav-buttons">
    <button class="app-scaffold-footer__nav-button" *ngFor="let item of bottomNavigation" [routerLink]="[item.link]" routerLinkActive="active">
      {{item.label}}
    </button>
  </div>


  <div class="app-scaffold-footer__logos">
    <a href="https://heap-exposome.eu" target="_blank" rel="noopener noreferrer">
      <img class="app-scaffold-footer__logos-img" src="assets/heap.png" alt="heap">
    </a>
    <a href="https://biobank.cy" target="_blank" rel="noopener noreferrer">
    <img class="app-scaffold-footer__logos-img" src="assets/cy-biobank.png" alt="cy biobank">
    </a>
<!--    <a href="http://b3africa.org" target="_blank" rel="noopener noreferrer">
      <img class="app-scaffold-footer__logos-img" src="assets/b3africa.png" alt="b3africa">
    </a>
    <a href="https://bbmri-eric.eu" target="_blank" rel="noopener noreferrer">
      <img class="app-scaffold-footer__logos-img" src="assets/bbmri-eric.png" alt="bbmri eric">
    </a>-->
  </div>
</footer>
